.section-fullwidth {
	padding: 2em 0;
}

.section-heading {
	margin-top: 0;
}

.section-jobs-preview {
	.search-form-wrapper {
		margin-right: var(--spacing-s);
	}

	.search-form-wrapper, .filter-wrapper {
		margin-bottom: var(--spacing-s);
	}

	.tags-list {
		margin-bottom: 0.75em;
	}

	@media (max-width: $media-breakpoint-mobile) {	
		.search-form-wrapper {
			margin-right: 0;
		}
	}
}

.section-jobs-dashboard {
	.jobs-dashboard-header {
		margin-bottom: var(--spacing-s);
	}

	.primary-container, .search-form-wrapper, .filter-wrapper {
		margin-bottom: var(--spacing-s);
	}

	.search-form-wrapper {
		margin-right: var(--spacing-s);
		width: 11em;
	}

	.filter-wrapper {
		width: 10.5em;
	}

	@media (max-width: $media-breakpoint-mobile) {	
		.search-form-wrapper {
			margin-right: 0;
		}

		.search-form-wrapper, .filter-wrapper, .secondary-container {
			width: 100%;
		}
	}
}

.section-login {
	.form-box {
   		max-width: 24em;
	}

	.button-inline {
		margin-top: 0;
	}
}