body {
    padding: 50px;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
    margin-left: 20px;
}

a:hover {
    text-decoration: underline;
    color:rgb(0, 0, 0);
}

ul {
    display: flex;
    align-items: center;
    padding: 0;
    float: right;
    margin-right: 20px;
}

li {
    list-style-type: none;
}

header p {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    margin-bottom: 20px;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
}